<div class="container">

	<h1>Login</h1>

	<%= form_for(:session, url: login_path) do |f| %>

	      <%= f.label :id %>
	      <%= f.text_field :id %>

	      <%= f.submit "Se connecter", class: "btn btn-success" %>
	    <% end %>

</div>