<div class="container">

	<h1>Crée ton evenement</h1>


	<%= form_tag events_create_path, method: "post" do %>
			<p>Decription :
		    <input type="text" name="description" /></p>
		    <p>
		    	Place
		    	<input type="text" name="place">
		    </p>
		    <p>
		    	Date
		    	<input type="date" name="date">
		    </p>
		    <input type="submit" value="Envoyer" class="btn btn-success" />
	   <% end %>

	</div>